@font-face {
	font-family: "Jost";
	src: url("/src/assets/fonts/jost/Jost-VF.woff2") format("woff2-variations");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: var(--font-base);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.heading {
	font-family: var(--font-heading);
	letter-spacing: -0.04em;
	color: var(--text-primary);
	position: relative;
	height: fit-content;
	width: fit-content;
	margin-block: 0;
}

.heading::after {
	content: "";
	position: absolute;
	inset-inline-start: 0;
	inset-block-start: 50%;
	inline-size: 100%;
	block-size: 3px;
	background-color: currentColor;
	transform: scaleX(0);
	transform-origin: left center;
	pointer-events: none;
	transition: transform 800ms var(--easing-default);
}

.heading.section-heading::after {
	transform: scaleX(1);
}

.heading--xl {
	font-size: 13.7cqw;
	font-weight: 400;
	line-height: 0.75em;
	margin: 0;
	margin-inline-end: -0.75cqw;
}

.heading--lg {
	font-size: var(--heading-lg-font-size);
	font-weight: 400;
	line-height: 1.16em;
	text-transform: uppercase;
	margin-block: 0 0.25em;
}

.heading--md {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.25em;
	margin-block-end: 2em;
}

.heading--sm {
	font-size: 1.25rem;
	font-weight: 400;
	line-height: normal;
}

.heading--xs {
	font-size: 0.875rem;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}

.text {
	font-size: 1rem; /* 16px */
	font-weight: 300;
	line-height: 1.4em; /* 24px / 16px */
	letter-spacing: -0.03em;
	color: var(--text-primary);
}

/* Phones only (container ≤ 33rem ⟺ viewport ≤ 560px) */
@media (width <= 35rem) {
	.heading--xs {
		font-size: 0.75rem;
	}

	.text {
		font-size: 0.875rem;
	}
}

.text--secondary {
	font-weight: 300;
	color: var(--text-secondary);
}

/* Utilities */
.line-height-normal {
	line-height: normal;
}

.color-primary {
	color: var(--text-primary);
}
.color-secondary {
	color: var(--text-secondary);
}
.color-tertiary {
	color: var(--text-tertiary);
}

.reveal-letter {
	opacity: 0.33;
	transition: opacity var(--reveal-letter-duration, 300ms) var(--easing-default);;
}

.reveal-letter[data-revealed="true"] {
	opacity: 1;
}
