:root {
	/* Typography */
	--font-base: "Jost", system-ui, -apple-system, sans-serif;
	--font-heading: var(--font-base);

	/* Layout */
	--section-padding-inline: 2.5rem;

	--container-padding-block: 7.5rem;
	--container-max-width: 82.5rem;

	--container-lines-count: 3;
	--container-width: min(var(--container-max-width), 100vw - (var(--section-padding-inline) * 2));
	--container-colunm-width: calc(var(--container-width) / var(--container-lines-count));
	--container-to-screen-side-width: max(var(--section-padding-inline), calc((100vw - var(--container-width)) / 2));

	--breakpoint-sm: 50rem; /* Not used */
	--breakpoint-md: 70rem; /* Not used */
	--breakpoint-lg: 90rem;
	--breakpoint-xl: 120rem;

	/* Colors */
	--black-800: #2b2b2b;
	--black-200: #f1f1f1;
	--white: #ffffff;

	/* Text Colors */
	--text-primary: var(--black-800);
	--text-secondary: color-mix(in srgb, var(--text-primary) 80%, transparent);

	/* Borders */
	--border--primary: 1px solid color-mix(in srgb, var(--black-800) 50%, transparent);
	--border--secondary: 1px solid color-mix(in srgb, var(--black-800) 10%, transparent);
}
