:root {
	/* Typography */
	--font-base: "Jost", system-ui, -apple-system, sans-serif;
	--font-heading: var(--font-base);

	/* Layout */
	--container-max-width: 82.5rem;
	--section-padding-inline: 2.5rem;
	--container-padding-block: 7.5rem;

	/* Colors */
	--black-800: #2b2b2b;
	--black-200: #f1f1f1;
	--white: #ffffff;

	/* Text Colors */
	--text-primary: var(--black-800);
	--text-secondary: color-mix(in srgb, var(--text-primary) 80%, transparent);
}
