:root {
	/* Typography */
	--font-base: "Jost", system-ui, -apple-system, sans-serif;
	--font-heading: var(--font-base);
	--heading-lg-font-size: 2.75rem;

	/* Layout */
	--section-padding-inline: 2.5rem;

	/* Each section contributes this above and below its content, so the gap
	   between two adjacent sections is twice this value. */
	--container-padding-block: 12rem;
	--container-max-width: 82.5rem;

	--container-width: min(var(--container-max-width), 100vw - (var(--section-padding-inline) * 2));
	--container-right-column-width: calc(var(--container-width) * 384 / 1200);
	--container-to-screen-side-width: max(var(--section-padding-inline), calc((100vw - var(--container-width)) / 2));

	--lines-columns-grid-column-count: 3;
	--lines-columns-grid: 408fr 408fr 384fr;
	--lines-columns-grid-nav: 408fr 408fr 192fr 192fr;

	/* Animation */
	--easing-default: cubic-bezier(0.645, 0.045, 0.355, 1);

	--breakpoint-sm: 35rem;
	--breakpoint-md: 65rem;
	--breakpoint-lg: 90rem;
	--breakpoint-xl: 120rem;

	/* Colors */
	--black-800: #2b2b2b;
	--black-200: #f1f1f1;
	--white: #ffffff;

	/* Text Colors */
	--text-primary: var(--black-800);
	--text-secondary: color-mix(in srgb, var(--text-primary) 80%, transparent);
	--text-tertiary: color-mix(in srgb, var(--text-primary) 20%, transparent);

	/* Borders */
	--border--primary: 1px solid color-mix(in srgb, var(--black-800) 50%, transparent);
	--border--secondary: 1px solid color-mix(in srgb, var(--black-800) 10%, transparent);
}

@media (max-width: 65rem) {
	:root {
		--container-padding-block: 7.5rem;
		--container-right-column-width: calc(0.52 * var(--container-width));
		--lines-columns-grid-column-count: 2;
		--lines-columns-grid: 48% 1fr;
		--lines-columns-grid-nav: 24fr 24fr 26fr 26fr;
		--heading-lg-font-size: 2.125rem;
	}
}

@media (max-width: 50rem) {
	:root {
		--section-padding-inline: 1rem;
	}
}

@media (width <= 35rem) {
	:root {
		--lines-columns-grid-column-count: 1;
		--lines-columns-grid: 1fr;
		--lines-columns-grid-nav: repeat(4, auto);
		--heading-lg-font-size: 1.75rem;
	}
}